/*override default browser styles*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    font-family: JetBrains Mono;
    height: 100vh;
}

/*styles for header of page*/

header {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    background-color: blue;
}

#rules-logo-container {
    background-color: yellow;
    display: flex;
    align-items: center;
}

#rules-logo {
    height: 70%;
    width: 70%;
    background-color: green;
    margin: 0 auto;
}

#piggy-bank-container {
    background-color: yellow;
    position: relative;
    height: 15%;
    z-index: 2;
    background-color: yellow;
    height: 150%;
    width: 10%;
    display: flex;
    align-items: center;
}

#piggy-bank {
    background-color: green;
    background-color: green;
    width: 80%;
    height: 80%;
    margin: 0 auto;
}

#main-section {
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
}


hr {
    position: relative;
    top: 50%;
}

#main-section-circle {
    width: 50%;
    padding-top: 50%;
    background-color: orange;
    border-radius: 50%;
    max-width: 720px;
    max-height: 720px;
}

#main-section-dice {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: yellow;
    width: 28%;
    height: 10%;
}



h1 {
    text-align: center;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 500%;
    width: 30%;
    display: none;
}

footer {
    height: 15vh;
    background-color: blue;

}

@media screen and (max-width: 425px) {
    #piggy-bank-container {
        width: auto;
    }

    #main-section-circle {
        display: none;
    }

    #main-section-dice {
        display: block;
    }

}

@media screen and (min-width: 768px){
    #main-section-dice {
        position: absolute;
        top: 48%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: yellow;
        width: 45%;
        height: 15%;
    }
}

    @media screen and (min-width: 1440px) {
        #main-section-circle {
            width: 30%;
            padding-top: 30%;
            /* Adjust this value to change the size of the circle */
        }

        #main-section-dice {
            width: 25%;
        }
    }
