/*override default browser styles*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    font-family: JetBrains Mono;
    height: 100vh;
}

/*styles for header of page*/

header {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    background-color: blue;
}

#rules-logo-container {
    background-color: white;
    display: flex;
    align-items: center;
    width: auto;
    height: auto; 
}

#rules-logo {
    width: auto;
    height: auto; 
}

#rules-logo > i {

    color: black;
    margin: 0 auto;
    /* width: 60px;
    height: 60px;  */
    font-size: 60px; 
    display: inline-block; 
}

#piggy-bank-container {
    background-color: yellow;
    position: relative;
    height: 15%;
    z-index: 2;
    background-color: yellow;
    height: 150%;
    width: auto;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px; 
    
}

#piggy-bank {
    background-color: green;
    background-color: green;
    width: auto;
    height: auto;
    margin: 0 auto;
    display: flex; 
}

#piggy-bank > span > i {
    font-size: 50px; 
}

#piggy-bank > span > img {
    font-size: 50px; 

}

#piggy-bank-input {
    width: 70px; 
}

#main-section {
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72vh;
}


#main-section-circle {
    background-color: orange;
    border-radius: 50%;
    padding-top: 25%;
    width: 512px;
    height: 512px;
    position: absolute;
    z-index: 3;
}

#main-section-dice-wrapper {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: yellow;
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    z-index: 5;
    gap: 20px; 
}

.dice {
    background-color: green;
    width: auto;
    height: auto;
    display: inline-flex; 
    align-items: center; 
    justify-content: center;

}

#die1 {
    transform: rotate(25deg);
    z-index: 1;
}

#die2 {
    z-index: 4;
}

#die3 {
    transform: rotate(-25deg); 
}

.die {
    font-size: 6.5em; 
}

hr {
    position: absolute;
    top: 52%;
    z-index: 1;
    width: 100%;
    border: 0;
    height: 1px;
    background-color: black;
}

h1 {
    text-align: center;
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 400%;
    width: 20%;
    color: black;
    z-index: 5; 
}


#score-area {
    display: flex;
    justify-content: space-between;
    height: 18vh;
    background-color: blue;
    width: 100%;
    display: flex;  
}

#score-area-left {
    background-color: greenyellow;

}


#score-area-left,
#score-area-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

#score-area-right {
    padding-left: 0;
    display: flex;
    padding-right: 10px;
}

#user-score,
#computer-score {
    background-color: rgba(216, 115, 20, 0.623);
    width: 192.77px;
}

#computer-score,
#bank-roll-computer {
    align-self: self-end;
}


#roll-wrapper {
    background-color: aqua;
    height: 39.998px;
    width: 192.78px;
    display: flex;
    justify-content: space-between;
}

.score-die {
    width: 25%;
    background-color: white;
    flex-shrink: 1;
    border-radius: 5px; 
    display: flex; 
    justify-content: center;
    align-items: center;
    border: solid black 1px; 
}




#bank-roll-user,
#bank-roll-computer {
    width: 20%;
    background-color: yellow;
    height: 39.98px;
    width: 80px;
}




@media screen and (max-width: 425px) {

    #piggy-bank-container {
        display: none; 
    }

    #main-section {
        height: 90vh;
    }

    h1 {       
        top: 22%;
        left: 40%;
        font-size: 350%; 
    }

    #main-section-circle {
        border-radius: 0;
        padding-top: 0;
        width: auto;
        height: auto;
        transform: rotate(90deg);
        position: absolute;
        top: 70%;
        right: 48%;
    }
    

    #die1 {
        transform: rotate(-20deg);
        z-index: 1; 
    }


    #die3 {
        transform: rotate(20deg);
    }


    #score-area {
        flex-direction: column;
        display: none; 
    }

    #score-area-left,
    #score-area-right {
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }

    #score-area-left {
        padding-left: 0;
    }

    #score-area-right {
        padding: 0;
        padding-bottom: 10px;
    }

    #bank-roll-computer {
        align-self: normal;
    }


}